/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: -0.02em;
}
p {
  margin: 0 0 1em;
}
.page-header {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #aaa;
  font-size: 3.6rem;
}
